body {
  font-family: Roboto, san-serif;
  display: flex;
  flex-direction: column;
}

.header {
  color: #F9FAF8;
  background-color: #1F2937;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  padding: 20px 300px;
}

.header a {
  font-size: 18px;
  cursor: pointer;
  text-decoration: underline;
  margin-right: 16px;
}

.row-1 {
  display: flex;
  justify-content: space-between;
  padding: 20px 300px;
  color: #F9FAF8;
  background-color: #1F2937;
}

.row-1-left {
  width: 400px;
}

.row-1 img {
  height: 400px;
  width: auto;
}

.row-1-left button {
  background-color: #3882f6;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 15px;
  border: none;
}

.row-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row-2-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 36px;
  color: #1F2937;
  font-weight: bolder;
}

.row-2-pics {
  display: flex;
  gap: 16px;
  justify-content: center;
}


.row-2-pics img {
  width: 200px;
  height: 300px;
  border: 2px solid #3882F6;
  border-radius: 12px;
  margin-left: auto;
}

.row-2-pics p {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.row-3 {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 50px;
}

.row-3-top {
  font-size: 36px;
  color: #1F2937;
  font-style: italic;
}

.row-3-bottom {
  margin-left: 220px;
}

.row-4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.row-4-box {
  display: flex;
  gap: 50px;
  background-color: #3882f6;
  padding: 40px 200px;
  color: white;
  border-radius: 10px;
}

.row-4-left .bold {
  font-weight: bold;
}

.row-4-right {
  display: flex;
  align-items: center;
}

.row-4-right button {
  background-color: #3882f6;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 15px;
  border: 2px solid white;
}

.footer {
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: #1F2937;
  color: white;
  padding: 40px;
}